.doctor-table-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.edit {
    color: orange;
    cursor: pointer;
    padding-right: 10px;
}

.delete {
    color: red;
    cursor: pointer;
}